# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
    paths:
      - 'import/**'
      
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  files:
    defaults:
      run:
        shell: bash
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    outputs:
      added: ${{ steps.matrix.outputs.added }}
      added_length: ${{ steps.matrix.outputs.added_length }}
      removed: ${{ steps.matrix.outputs.removed }}
      removed_length: ${{ steps.matrix.outputs.removed_length }}
      
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - id: files
        uses: jitterbit/get-changed-files@v1
        with:
          format: 'json'

      - id: matrix
        run: |
          set -x
          
          ADDED=`jq -rc '.' <<< '${{ steps.files.outputs.added }}'`
          ADDED_LENGTH=`echo "$ADDED" | jq length`

          echo "::set-output name=added::$ADDED"
          echo "::set-output name=added_length::$ADDED_LENGTH"

          REMOVED=`jq -rc '.' <<< '${{ steps.files.outputs.removed }}'`
          REMOVED_LENGTH=`echo "$REMOVED" | jq length`

          echo "::set-output name=removed::$ADDED"
          echo "::set-output name=removed_length::$REMOVED_LENGTH"
          
  test:
    defaults:
      run:
        shell: bash
    needs: [ files ]
    # The type of runner that the job will run on
    runs-on: ubuntu-latest          
    steps:
      - id: check
        run: |
          matrix='${{ needs.files.outputs }}'
          sudo npm install -g json2yaml
          echo "$matrix"
          echo "$matrix" | jq .
        
  # This workflow contains a single job called "build"
  import:
    if: ${{ needs.files.outputs.added_length > 0 }}
    needs: [ files ]
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        file: ${{ fromJson(needs.files.outputs.added) }}
      
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Import Folder
        env:
          FILE: ${{ matrix.file }}
        run: |
          echo "Import $FILE"
          cat "$FILE"


  # This workflow contains a single job called "build"
  delete:
    if: ${{ needs.files.outputs.removed_length > 0 }}
    needs: [ files ]
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        file: ${{ fromJson(needs.files.outputs.removed) }}
      
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Delete Folder
        env:
          FILE: ${{ matrix.file }}
        run: |
          echo "Delete $FILE"
          cat "$FILE"
